* {
    margin: 0;
    padding: 0;
}

body {
    font: "PT Serif", serif;
    background-image: linear-gradient(to top, white, azure);
    height: 100vh;
}

header {
    display: flex;
    justify-content: right;
}

header i {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    color: white;
}

header button {
    background-color: transparent;
    border: 0;
}

#expand-icon {
    display: none;
}

nav {
    background-color: silver;
    border-radius: 5px;
    position: absolute;
    top: 3vh;
    right: 2vw;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    overflow: hidden;
    height: 3rem;
    width: 10rem;
    transition: width 0.8s, opacity 0.8s;
}

#writing-form {
    margin: 13vh auto;
    display: flex;
    justify-content: center;
    scrollbar-color: red;
}

#writing-box {
    font-family: "PT Serif", serif;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    max-height: 70vh;
    border: none;
    outline: 0;
    resize: none;
    background-color: transparent;
    scrollbar-color: silver transparent;
    scrollbar-width: thin;
}